In [12]:
import pandas as pd

#TIlaus dataframe
portions_data1 = {'order_id': [2, 1, 3], 'item_name': ['Burger', 'Pizza', 'Salad'], 'quantity': [2, 1, 3]}
orders_df = pd.DataFrame(portions_data1)

#Annos dataframe
portions_data2 = {'order_id': [4, 6, 5], 'item_name': ['Soup', 'Burger', 'Wok'], 'quantity': [1, 3, 4]}
portions_df = pd.DataFrame(portions_data2)

# Concat
combined_df = pd.concat([orders_df, portions_df])
print(combined_df)

   order_id item_name  quantity
0         2    Burger         2
1         1     Pizza         1
2         3     Salad         3
0         4      Soup         1
1         6    Burger         3
2         5       Wok         4

In [ ]:

# T2 Tilaus dataframe
orders_data = {'order_id': [1, 2, 3], 'customer_name': ['Alice', 'Bob', 'Charlie'], 'total_amount': [25.5, 30.2, 15.75]}
orders_df = pd.DataFrame(orders_data)

# T2 Annos dataframe
portions_data = {'order_id': [2, 1, 3], 'item_name': ['Burger', 'Pizza', 'Salad'], 'quantity': [2, 1, 3]}
portions_df = pd.DataFrame(portions_data)

#concat
combined_df = pd.concat([orders_df, portions_df])
print(combined_df)

   order_id customer_name  total_amount item_name  quantity
0         1         Alice         25.50       NaN       NaN
1         2           Bob         30.20       NaN       NaN
2         3       Charlie         15.75       NaN       NaN
0         2           NaN           NaN    Burger       2.0
1         1           NaN           NaN     Pizza       1.0
2         3           NaN           NaN     Salad       3.0