In [2]:
number1 = 5
number2 = 5

In [3]:
if number1 == number2:
    print("number1 is equal to number2")

number1 is equal to number2

In [4]:
if number1 > number2:
    print("number1 is more than number2")

In [5]:
if number1 >= number2:
    print("number1 is more than or equal to number2")

number1 is more than or equal to number2

In [6]:
if number1 != number2:
    print("number1 is not the same as number2")

In [7]:
number1 = 8
number2 = 8
number3 = 8

In [8]:
if number1 == number2 and number2 == number3:
    print("all numbers are the same")

all numbers are the same

In [9]:
if number1 == number2 or number2 == number3:
    print("Either number1 and number2 or number2 and number3 are equal")

Either number1 and number2 or number2 and number3 are equal

In [10]:
if number1 > number2 and number1 > number3:
    print("number1 is bigger than 2 or 3")

In [11]:
if number1 > number2:
    print("number1 is more than number2")
else:
     if number2 > number3:
      print("number2 is more than number3")

In [12]:
if number1 == number2:
    print("number1 and number2 are the same")
else:
    if number1 == number3:
        print("number1 and number3 are the same")

number1 and number2 are the same

In [13]:
name1 = "Mikael"
name2 = "Pekka"
name3 = "Markku"

In [14]:
if name1 == name2:
    print("name1 and name2 are the same")

In [15]:
if name1 != name2:
    print("name1 and name2 are not the same")

name1 and name2 are not the same

In [16]:
if name1 == name2:
    print("name1 and name2 are the same")
else:
    if name1 == name3:
        print("name1 and name3 are the same")