In [14]:
import pandas as pd

df = pd.read_csv('shopping_behavior_updated.csv')

print(df['Customer ID'])
print(df.iloc[50])
df.head(10)
df.info()
df.sort_values("Age")

0          1
1          2
2          3
3          4
4          5
        ...
3895    3896
3896    3897
3897    3898
3898    3899
3899    3900
Name: Customer ID, Length: 3900, dtype: int64
Customer ID                         51
Age                                 49
Gender                            Male
Item Purchased                  Blouse
Category                      Clothing
Purchase Amount (USD)               28
Location                      Maryland
Size                                 M
Color                              Red
Season                          Spring
Review Rating                      3.7
Subscription Status                Yes
Shipping Type             Store Pickup
Discount Applied                   Yes
Promo Code Used                    Yes
Previous Purchases                  39
Payment Method              Debit Card
Frequency of Purchases       Bi-Weekly
Name: 50, dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3900 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
25,26,18,Male,Hoodie,Clothing,25,Texas,M,Silver,Summer,3.6,Yes,Express,Yes,Yes,14,PayPal,Annually
2639,2640,18,Male,Blouse,Clothing,35,New Hampshire,XL,Pink,Winter,2.6,No,Free Shipping,No,No,33,Debit Card,Quarterly
72,73,18,Male,Dress,Clothing,26,Georgia,M,Olive,Winter,2.9,Yes,Store Pickup,Yes,Yes,21,Bank Transfer,Every 3 Months
1591,1592,18,Male,Skirt,Clothing,100,South Dakota,L,Gold,Winter,2.9,No,Next Day Air,Yes,Yes,24,PayPal,Annually
1604,1605,18,Male,Sweater,Clothing,92,Maine,M,White,Summer,4.8,No,2-Day Shipping,Yes,Yes,25,Credit Card,Every 3 Months
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2702,2703,70,Female,Shoes,Footwear,37,Texas,L,Gray,Fall,4.0,No,Next Day Air,No,No,39,Debit Card,Fortnightly
2426,2427,70,Male,Jacket,Outerwear,42,Florida,M,Olive,Fall,4.6,No,Free Shipping,No,No,26,Debit Card,Every 3 Months
2289,2290,70,Male,Shorts,Clothing,82,Nevada,M,Orange,Fall,4.1,No,Free Shipping,No,No,47,Venmo,Weekly
2309,2310,70,Male,Dress,Clothing,95,Connecticut,S,Gold,Fall,5.0,No,2-Day Shipping,No,No,3,Bank Transfer,Quarterly
2557,2558,70,Male,Shorts,Clothing,23,Oklahoma,L,Cyan,Spring,3.9,No,Standard,No,No,17,PayPal,Fortnightly